<%- include('./partials/header.ejs') %>

<h1>Reel Films Index</h1>
<div class="container-fluid">

  <div class="allmovies">
    <ul>
    <% for(let i = 0; i < movies.length; i++) { %>
       <li class = "movie">
          <h3> <%= movies[i].title %> <h3>
           <a href="/movies/<%=movies[i]._id%>"><img src="<%=movies[i].img%>" alt="moviesPic"></a>

        </li>
    <% } %>
    </ul>
  </div>
</div>


<%- include('./partials/footer.ejs') %>
