<%- include('./partials/header.ejs') %>
<div class="container-fluid">
  <div class="showform">
    <div class="input-container ic3">
      <h2> <%= movies.title %></h2>
      <img src =<%= movies.img%> alt="MoviePic"><br>

            <ul>
              <li> Description: <%= movies.description %></li>
              <li> Tags: <%= movies.tags %></li>
              <li> Like: <%= movies.like %></li>
              <li> Watched: <%= movies.watched %></li>
            </ul><br>

       <form action = "/movies/<%=movies._id%>/like?_method=PUT" method="POST" class= "likebtn">
           <input type="submit" value="&#9829 Like" id="like"><br>


       <button class = 'editbtn'><a href="/movies/<%=movies._id%>/edit">Edit</a></button>
           <form action="/movies/<%=movies._id%>?_method=DELETE" method="POST" class= "deletebtn">
               <input type="submit" value="Delete"><br>
         </form>
        </div>
      </div>
     </div>
